
.loading{
	background: 	url(../img/panel-loader.gif) center center no-repeat;
	height:			300px;
}

/* Spin.js theme */
.spin-item.nav.mouseover,
.soundspin-player #info:hover{
/** webkit ********************************************************************/
    background-image: -webkit-gradient(linear, left top, left bottom,from(#feae31),to(#efe457));
    -webkit-background-origin: border;
    -webkit-background-origin: border-box;
/** gecko *********************************************************************/
    background-image: -moz-linear-gradient(center top , #feae31, #efe457);
    -moz-background-origin: border;
/** no vendor prefix **********************************************************/
    background-origin: border-box;
/** shared ********************************************************************/
    background-repeat: repeat;    
    background-attachment: scroll; 
    background-position: 0 0;
}

.spin-item.nav.loaded,
.soundspin-player #info.loaded {
	color: white;
    background-image: -moz-linear-gradient(center top , #a10627, #591426);
    background-image: -webkit-gradient(linear, left top, left bottom,from(#a10627),to(#591426));
    background-position: 0 0;
    -webkit-background-origin: border-box;
    -moz-background-origin: border;
    background-origin: border-box;
}

.spin-panel-hd {
	background: -webkit-gradient(linear, left top, left bottom,from(#a10627),to(#591426)) repeat scroll 0 0 #591426 !important;
	background: -moz-linear-gradient(center top , #a10627, #591426) repeat scroll 0 0 #591426 !important;
}

/* end Spin.js theme */

/* SoundCloud songs player */
.soundspin-controls{
    position: 		relative;
	width:			100%;
	height: 		150px;
	border-top: 	#999 solid 1px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	background-color: #feae31;/*aubergine*/
}
.soundspin-controls .control{
/*
	background-color:	black;
	background-clip:	padding-box;
	color:			white;
	font-weight:	bold;
	text-align:		center;
	vertical-align:	middle;
	text-decoration:none;
	border: 		3px solid red;
*/
    position:		absolute;
	cursor:			pointer;
	z-index: 10;
}

.soundspin-player .indicator{
    position:		absolute;
	line-height: 	0;
    left:			24px;
    top:			16px;
	cursor:			pointer;
}
.soundspin-player div.indicator .play{
	/*display:		none;*/
	background-image:url(../img/play.png);
	top: -12px;
    left: -16px;
	width: 32px;
	height: 32px;
}

.soundspin-player div.indicator.playing .play{
	background-image:url(../img/pause.png);
}

.soundspin-player #avatar{
	position: relative;
	min-height: 100px; 
	min-width: 100px;
	z-index: 5;
	overflow: hidden;
	border: 2px solid black;
	-webkit-border-radius: 9px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 9px;
	-moz-border-radius-topleft: 0;
	border-radius: 9px;
	border-top-left-radius: 0;
}

.soundspin-player #avatar img{
	-webkit-border-radius: 7px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 7px;
	-moz-border-radius-topleft: 0;
	border-radius: 7px;
	border-top-left-radius: 0;
}
.soundspin-player .clear{
    position: absolute;
	right: 65px;
	bottom: 3px;
	padding: 2px 5px;
	font-size: .8em;

	border: 2px solid red;
	-webkit-border-radius: 12px;
	-moz-border-radius:    12px;
	border-radius:         12px;
}

.soundspin-player .next{
	background-image:url(../img/ff.png);
	bottom: 15px;
    right: 14px;
	width: 50px;
	height: 50px;
}

.quick-nav{
	position: relative;
	text-align: center;
	padding-right: 26px;
}
.quick-nav .see-more{
	border-left: #999 solid 1px;
	height: auto;
	position: absolute;
	/*float:right;*/
	top: 0;
	right: 0;
	bottom: 0;
	width: 26px;
}

.panel-image-view{
	text-align: center;
}


/* progress bar */
.soundspin-player .indicator .progress-bar-container{
	background-color:white;
	position: absolute;
    left: -6px;
    top: -6px;
	right: -6px;
	bottom: -6px;
	display: none;
	overflow: hidden;
	border: 2px solid black;
	-webkit-border-radius: 14px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 14px;
	-moz-border-top-left-radius: 0;
	border-radius: 14px;
	border-top-left-radius: 0;
}
.soundspin-player .indicator:hover .progress-bar-container,
.soundspin-player .indicator.playing .progress-bar-container{
	display: block;
}
.soundspin-player .indicator .progress-bar-container .bar{
	position: absolute; 
	height: 67%; 
	width: 2px;
	top: 50%; 
	left: 50%;
	background: red;
	-webkit-transform-origin: 0 0;
}

.soundspin-player #info{
    position: absolute;
    left: 140px;
    top: 10px;
	right: 10px;
	padding: 5px;
	cursor: pointer;
	font-size: 1.3em;
	min-height: 116px;
	background-color:white;
	height:auto;
	line-height: initial;
	background-image: none;

	-webkit-border-radius: 	8px;
	-moz-border-radius: 	8px;
	border-radius: 			8px;
	border: 				1px solid #888;
	box-shadow: 			10px 10px 70px #888;
	-moz-box-shadow:		10px 10px 70px #888;
	-webkit-box-shadow:		10px 10px 70px #888;
}

.soundspin-player #info::before {
	background-image:none;
}

.soundspin-player #info p {
	margin-bottom:6px;
}

.soundspin-player #author {
    font-weight:	bold;
	color: 			red;
	font-size: 		1.6em;
	text-shadow:	black 2px 2px 1.5px;
}


/* song writter info panel */
.songwriter-info{
}

.songwriter-avatar{
	margin: 0 16px 16px 0;
	min-height:300px;
	min-width:300px;
	float:left;
	-webkit-border-radius: 			9px;
	-webkit-border-top-left-radius:	0;
	-moz-border-radius: 			9px;
	-moz-border-radius-topleft: 	0;
	border-radius: 					9px;
	border-top-left-radius: 		0;
}

.songwriter-description::first-letter{
	font-size: 3em;
}


.songs{
	clear: both;
	text-align: center;
	padding: 5px;
}

.album{
	display: inline-block;
	padding: 5px;
}

.album .artwork{
	min-height:100px;
	min-width:100px;
	-webkit-border-radius: 			9px;
	-webkit-border-top-left-radius:	0;
	-moz-border-radius: 			9px;
	-moz-border-radius-topleft: 	0;
	border-radius: 					9px;
	border-top-left-radius: 		0;
}
.album .trackset{
	
}
/*
.trackset .disabled, .trackset .disabled.mouseover{
	color: 		#888;
/** webkit ******************************************************************** /
    background-image: -webkit-gradient(linear, left top, left bottom,from(#efefef),to(white));
    -webkit-background-origin: border;
    -webkit-background-origin: border-box;
/** gecko ********************************************************************* / 

    background-image: -moz-linear-gradient(center top , #EFEFEF, white);
    -moz-background-origin: border;
/** no vendor prefix ********************************************************** /
    background-origin: border-box;
/** shared ******************************************************************** /
    background-repeat: repeat;    
    background-attachment: scroll; 
    background-position: 0 0;
}
*/
.toggle-button{
	background:		#888;
	color:			white;
	padding: 		3px 5px;
	margin: 		5px 3px;
	border:			none;
	-webkit-border-radius: 			9px;
	-moz-border-radius: 			9px;
	border-radius: 					9px;
}

.toggle-button.pressed{
	background:		red;
}

form.search
{
   width:100%;
   height:32px;
   background: -moz-linear-gradient(center top , #e8e8e8, #d1d1d1) repeat scroll 0 0 #d1d1d1;
   background: -webkit-gradient(linear, left top, left bottom,from(#e8e8e8),to(#d1d1d1)) repeat scroll 0 0 #d1d1d1;
   background-color: #d1d1d1;
}

form.search input 
{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: url('../img/input-search.png') no-repeat 4px center #FFF;
  border: 0 none;
  height: 24px;
  line-height: 24px;
  padding: 0 0 0 24px;
  position:relative;
  top:4px;
  left:1%;
  width:98%;
}

p{
	margin-bottom:0.4em;
}


/* Spin.js style overwrite */
.block-content{
	padding:10px;
}

.spin-item{
	line-height: 2.1em;
	vertical-align: middle;
	padding: 0 0.5em 0 0.8em;
}

.spin-item:not(spin-icon){
	padding-left: 28px;
}

.nav{
	cursor:pointer;
}
.spin-item {
	overflow:hidden;
}
.spin-item.nav {
 	background-image:none;
}

.spin-item::before {
	content:" ";
	position:absolute;
	top:0;
	right:7px;
	width: 10px;
	height: 100%;
	background: url('../Spin.js/addons/items/item-arrow-black.png') no-repeat center right;
}
.spin-left, .spin-right {
	position: initial;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
}


#k-nav {
    height:2.1em;
}

.spin-panel {
	border-right: 1px solid #999;
}

/*
. {
 
top: 0px;
width: 100%;
height: 2.5em;
text-align: center;
	font-size:1.3em;
    height:1.6em; height : 2.1em but font-size change for 1.3em => height => 2.1 / 1.3em 
	line-height:1.6em;
	vertical-align:middle;
	white-space:nowrap;
	overflow:hidden;
	color:white;
    background: -moz-linear-gradient(center top , #999, #222) repeat scroll 0 0 #222;    
    background: -webkit-gradient(linear, left top, left bottom,from(#999),to(#222)) repeat scroll 0 0 #222;
}
*/