.block {
    margin: 1em;
}

.title {
    font-size: 2em;    
    margin: 0em;
    margin-bottom: 1em;
    padding: 0em;
    padding-bottom: 0.3em;
    border-bottom: 1px solid gainsboro;
}

.subtitle {
    font-size: 1.5em;
    margin: 0em;
    margin-bottom: 1em;
    padding: 0em;
    color: midnightblue;
}

.synopsys {
    background-color: royalblue;
    color: white;
    padding: 0.5em;
}

.synopsys .em {
    color: white;
    font-weight: bold;
}

.em {
    font-style: normal;
    color: midnightblue;    
}

.func_signatures{
    background-color: whitesmoke;
    font-family: monospace;    
    margin-left: 0px;
    margin-right: 0px;
    padding: 0.5em;    
}

.func_signature {
    list-style-type: none;
}

.codeblock {
    display: block;
    white-space: pre;
    background-color: whitesmoke;
    font-family: monospace;
    padding: 0.5em;
    border: 1px solid gainsboro;
    overflow: auto;
}

.seealso {
    text-decoration: underline;
    color: royalblue;
    cursor: pointer;
}
