/*///////////////////////////////////////////////////////////////////////////*/
/*/// Panel Items                                                         ///*/
/*///////////////////////////////////////////////////////////////////////////*/

.k-items {
    margin: 0em;
    padding: 0em;
    border-top: 1px solid gainsboro;
}

.k-item {
    position:           relative;
    height:             2.5em;
    padding:            0em;
    padding-right:       0.725em;
    border-bottom:      1px solid gainsboro;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;            
    list-style-type: none;
}

.k-left,
.k-right {
    position: absolute; 
    top: 0.625em;
}

.k-left {
    left:   2.5em;
}

.k-right {
    right:   2.5em;
}


.k-item.nav {
    background-image: url('item-arrow-black.png');
    background-repeat: no-repeat;
    background-position: right center;               
    -webkit-background-origin: content;         /* old webkit syntax */    
    -webkit-background-origin: content-box;     /* new webkit syntax */
    -moz-background-origin: content;            /* old gecko syntax  */
    background-origin: content-box;             /* new gecko syntax  */
    
    cursor: pointer;
}

.k-item.nav.mouseover {  
/** webkit ********************************************************************/
    background-image: url('item-arrow-black.png'), -webkit-gradient(linear, left top, left bottom,from(#efefef),to(#d6d6d6));
    -webkit-background-origin: content, border;
    -webkit-background-origin: content-box, border-box;    
/** gecko *********************************************************************/
    background-image: url('item-arrow-black.png'), -moz-linear-gradient(center top , #EFEFEF, #D6D6D6);
    -moz-background-origin: content, border;    
/** no vendor prefix **********************************************************/
    background-origin: content-box, border-box;    
/** shared ********************************************************************/
    background-repeat: no-repeat, repeat;    
    background-attachment: scroll, scroll; 
    background-position: right center, 0 0;
}

.k-item.mouseover {  
/** webkit ********************************************************************/
    background-image: -webkit-gradient(linear, left top, left bottom,from(#efefef),to(#d6d6d6));
    -webkit-background-origin: border;
    -webkit-background-origin: border-box;
/** gecko *********************************************************************/
    background-image: -moz-linear-gradient(center top , #EFEFEF, #D6D6D6);
    -moz-background-origin: border;
/** no vendor prefix **********************************************************/
    background-origin: border-box;
/** shared ********************************************************************/
    background-repeat: repeat;    
    background-attachment: scroll; 
    background-position: 0 0;
}

.k-item.loaded {    
    background-image: url('item-arrow-black.png'), -moz-linear-gradient(center top , #186AB9, #6AA4DC);
    background-image: url('item-arrow-black.png'), -webkit-gradient(linear, left top, left bottom,from(#186ab9),to(#6aa4dc));
    background-repeat: no-repeat, repeat;
    background-attachment: scroll, scroll; 
    background-position: right center, 0 0;
    -webkit-background-origin: content, border;
    -webkit-background-origin: content-box, border-box;
    -moz-background-origin: content, border;
    background-origin: content-box, border-box;
}

